<table id='table' data-source="<%= datatables_url(format: 'json')%>" >
  <thead>
    <tr>
      <th>Rendering Engine</th>
      <th>Browser</th>
      <th>Platforms</th>
      <th>Engine version</th>
      <th>CSS grade</th>
    </tr>
  </thead>

  <tbody>
    <%# <% @data.each do |data| %1> %>
    <%#   <tr> %>
    <%#     <td><%= data.engine %1></td> %>
    <%#     <td><%= data.browser %1></td> %>
    <%#     <td><%= data.platform %1></td> %>
    <%#     <td><%= data.version %1></td> %>
    <%#     <td><%= data.grade %1></td> %>
    <%#   </tr> %>
    <%# <% end %1> %>
  </tbody>
<table/>
